:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

/* MAIN */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  display: block;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.botton {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.botton:hover {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
}

.social-links .link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-color);
}

.social-links .link:hover .icon,
.social-links .link:focus .icon {
  fill: #ffffff;
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  bottom: -94px;
  background-color: #ececec;
}
/* end MAIN */

/* HEADER */
.header {
  border-bottom: 1px solid #ececec;
}

.header-menu {
  display: flex;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 24px;
}

.leiba {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 86px;
}

.site-nav .link {
  position: relative;
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item + .item {
  margin-left: 40px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list .item + .item {
  margin-left: 30px;
}

.contact-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact .icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  vertical-align: middle;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.header-contact:hover .icon,
.header-contact:focus .icon {
  fill: var(--accent-color);
}
/* end HEADER */

/* FOOTER */
.footer {
  background-color: #2f303a;
  color: var(--primary-white-color);
}

.footer-info {
  display: flex;
  padding-top: 48px;
  padding-bottom: 28px;
  align-items: baseline;
}

.address-block {
  margin-top: 0;
  margin-right: 30px;
  width: calc((100% - 30px * 2) / 12 * 3);
}

.footer .logo {
  color: var(--primary-white-color);
  font-size: 22px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  margin-bottom: 10px;
}

.address {
  line-height: 1.7;
  font-style: normal;
}

.map-address {
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.links-block {
  margin-right: 30px;
  width: calc((100% - 30px * 2) / 12 * 3);
}

.our.social-links {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.our .item:not(:last-child) {
  margin-right: 10px;
}

.our .link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.our .icon {
  fill: #ffffff;
}

.exhortation-block {
  width: calc((100% - 30px) / 2);
}

.exhortation {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  margin-bottom: 21px;
}

.footer-form {
  display: flex;
}

.input {
  background-color: #2f303a;
  color: var(--primary-white-color);
  width: 350px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 12px;
  margin-right: 12px;
}

.botton.sign {
  display: flex;
  align-items: center;
}

.botton .icon {
  margin-left: 10px;
  fill: #ffffff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.botton:hover .icon {
  fill: var(--accent-color);
}

.sign {
  font-weight: 900;
  padding: 10px 45px;
}

.copyright-block {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  display: block;
  padding-top: 18px;
  padding-bottom: 21px;
  margin-top: 0;
  margin-bottom: 0;
}
/* end FOOTER */
